.hero {
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.hero-img-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
}

.hero .contentWrapper {
  z-index: 2;
}

.hero-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero-content h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.hero-content span {
  font-size: 0.7rem;
}

.hero-btns-wrapper {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
